<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="../css/weui.css"/>
    <style type="text/css">
        body {
            background-color: #f8f8f8;
        }
    </style>
</head>
<body>

      
    <div class="container">
        
        <div class="page input js_show">
            <form id="form" action="http://2349390gv5.imwork.net/browse/createhtml" method="post">
                <input type="hidden" name="userId" id="userId" th:value="${userId}"/>
                <div class="weui-cells__title">提交的链接</div>
                <div  class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__bd">
                            <textarea id="url" name="linkUrl" class="weui-textarea" placeholder="提交的链接" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="weui-btn-area">
                    <a class="weui-btn weui-btn_primary" href="javascript:" id="submit">提交</a>
                </div>
            </form>

        </div>


    </div>

    <script src="../js/zepto.min.js"></script>
    <script>
        
        $(function() { 
            var $form = $("#form"); 
            var $submit = $("#submit");  
            var $url = $("#url");  
            

                $submit.on("click",function(){
                    var url = $url.val()||'';
                        if(!url){
                            alert('请填写链接哦');
                            //alert($url.val());
                            return false;
                        }
                        $form.submit();

                    
                })
        })
    </script>
</body>
</html>