<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.3/weui.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>



<iframe frameborder="0" class="iframe" th:src="${linkUrl}"></iframe>



<div id="tip"  class="tip">

    <span  class="weui-badge" style="position: absolute;">8</span>

</div>
<div class="container">

    <div class="page badge js_show">
        <div id="topTool" class="page__bd topTool">


            <div class="page__hd">
                <h1 class="page__title">已有8个好友来过</h1>
            </div>

            <div class="weui-grids">
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/WX20190119-212937.png" alt="">
                    </div>
                    <p class="weui-grid__label">啊啊啊</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/WX20190119-212955.png" alt="">
                    </div>
                    <p class="weui-grid__label">哦哦哦</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/face.png" alt="">
                    </div>
                    <p class="weui-grid__label">enenenenenenen</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/WX20190119-212937.png" alt="">
                    </div>
                    <p class="weui-grid__label">啊啊啊</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/WX20190119-212955.png" alt="">
                    </div>
                    <p class="weui-grid__label">哦哦哦</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/face.png" alt="">
                    </div>
                    <p class="weui-grid__label">enenenenenenen</p>
                </a>

                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/WX20190119-212955.png" alt="">
                    </div>
                    <p class="weui-grid__label">哦哦哦</p>
                </a>
                <a href="javascript:;" class="weui-grid">
                    <div class="weui-grid__icon">
                        <img src="images/face.png" alt="">
                    </div>
                    <p class="weui-grid__label">enenenenenenen</p>
                </a>

            </div>
            <!--
                <div class="weui-cell">
                    <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                        <img src="images/face.png" style="width: 50px;display: block">
                        <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;">8</span>
                    </div>
                    <div class="weui-cell__bd">
                        <p>点击看看都有谁</p>
                        <p style="font-size: 13px;color: #888888;">看过该文章的好友</p>
                    </div>
                </div>
            -->
        </div>

    </div>


</div>

<script src="http://h5.zhongguowangshi.com/h5/zhongqiu/src/tongji/js/zepto.min.js"></script>
<script>

$(function() {
var $topTool = $("#topTool");
var $tip = $("#tip");
$tip.on('click',function(){
$topTool.addClass('show');
})
})
</script>
</body>
</html>